<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-400 p-10">
        <a class="bg-red-500 rounded-md px-3 py-2 text-white mb-4 block w-fit" href="/logout">logout</a>
        <h1 class="text-2xl text-black capitalize mb-5"> hii <%= user.username %></h1>
        <div class="form w-fit bg-zinc-800 text-white p-5 rounded-md">
            <h1 class="text-3xl mb-4">creat post</h1>
            <form action="/profile/post" method="post">
                <input class=" px-2 py-1 border-2 outline-none bg-transparent ml-3 rounded-lg" type="text" placeholder="image url" name="image">
                <input class=" px-2 py-1 border-2 outline-none bg-transparent ml-3 rounded-lg" type="text" placeholder="title" name="data">
                <input class=" px-3 py-2 border-2 outline-none bg-transparent ml-3 rounded-lg" type="submit" value="create">
            </form>
        </div>
        <div class="posts flex flex-wrap gap-5 mt-10">
            <% user.posts.forEach(post => { %>
                            <div class="post-card w-52 rounded-md min-h-72 overflow-hidden px-2 py-1 bg-zinc-300">
                <img class="w-full h-60 object-cover bg-zinc-200 rounded-md" src="<%= post.image %>" alt="">
                <div class="lin w-full mt-2 flex justify-between items-center">
                    <h3 class="text-xl"><%= post.postData %></h3>
                    <h3 class="cursor-pointer text-green-600">like</h3>
                </div>
                <div class="lin w-full flex justify-between items-center">
                    <h3 class="cursor-pointer text-yellow-600">edit</h3>
                    <h3 class="cursor-pointer text-red-400">delete</h3>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</body>
</html>